@model ElectronicShop.Check

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Check</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Surname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CheckId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
