@model ElectronicShop.StorehouseItem

@{
    ViewBag.Title = "Edit";
}

<h2>Запит на замовлення товару</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Consignment.Item.Producer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consignment.Item.Producer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Consignment.Item.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consignment.Item.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt>
            @Html.Label("Кількість замовлених")
        </dt>

        <dd>
            @Html.Editor("quantities", new { @Value = "" })
        </dd>
    </dl>
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })




        @Html.HiddenFor(model => model.StorehouseItemId)

        <br>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Відправити" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
